.sidebar{

    position:fixed;

    top:0;
    left:-270px;

    width:260px;
    height:100vh;
    padding:2rem 1rem;


    background:var(--cor-primaria);

    transition:var(--transicao);

    z-index:1000;

    color: var(--cor-texto-claro);

}

.sidebar.ativo{

    left:0;

}

.sidebar-fixa .sidebar{

    position: static;

    width: 260px;

    height: auto;

    left: 0;

}

.logo{

    text-align:center;

    margin-bottom:2rem;

}

.sidebar nav{

    display:flex;

    flex-direction:column;

    gap:.8rem;

}

.sidebar a{

    padding:.9rem 1rem;

    border-radius:var(--raio);

    transition:var(--transicao);

    display:flex;

    align-items:center;

    gap:.8rem;


}

.sidebar a:hover{

    background:rgb(255 255 255 /.15);

}

