/* ========================================
   SIDEBAR
======================================== */

.sidebar {
    position: fixed;

    top: 0;
    left: -270px;

    width: 260px;
    height: 100vh;

    padding: 2rem 1rem;

    background: var(--cor-primaria);

    color: var(--cor-texto-claro);

    transition: var(--transicao);

    z-index: 1000;
}

.sidebar .bi {
    color: var(--cor-texto-claro);
}

/* ========================================
   SIDEBAR ATIVA
======================================== */

.sidebar.ativo {
    left: 0;
}


/* ========================================
   SIDEBAR FIXA
======================================== */

.sidebar-fixa .sidebar {
    position: static;

    left: 0;

    width: 260px;
    height: auto;
}


/* ========================================
   LOGO
======================================== */

.logo {
    margin-bottom: 2rem;

    text-align: center;
}


/* ========================================
   NAVEGAÇÃO
======================================== */

.sidebar nav {
    display: flex;
    flex-direction: column;

    gap: .8rem;
}


/* ========================================
   LINKS E BOTÃO DE LOGOUT
======================================== */

.sidebar a,
.sidebar form button {
    display: flex;

    align-items: center;

    gap: .8rem;

    padding: .9rem 1rem;

    border-radius: var(--raio);

    transition: var(--transicao);
}

/* ========================================
   HOVER DOS LINKS E BOTÃO DE LOGOUT
======================================== */

.sidebar a:hover,
.sidebar form button:hover {
    background: rgb(255 255 255 / .15);
}

.sidebar form {
    margin: 0;
}

.sidebar form button {
    width: 100%;

    border: none;

    background: transparent;

    color: var(--cor-texto-claro);

    font: inherit;

    text-align: left;

    cursor: pointer;
}