<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <title>Title</title>
</head>
<body>
    <aside class="sidebar" id="sidebar">

        <div class="logo">

            <h2>StudyHub</h2>

        </div>

        <nav>

            <a href="#">🏠 Dashboard</a>

            <a href="#">📝 Tarefas</a>

            <a href="#">📅 Calendário</a>

            <a href="#">📊 Estatísticas</a>

            <a href="#">⚙ Configurações</a>

            <a href="/logout">🚪 Sair</a>

        </nav>

    </aside>
</body>
</html>