
<aside class="sidebar" id="sidebar">

    <div class="logo">
        <h2>StudyHub</h2>
    </div>

    <nav>

        <a href="{{ url_for('dashboard') }}">
            🏠 Dashboard
        </a>

        <a href="{{ url_for('pagina_tarefas') }}">
            📝 Tarefas
        </a>

        <a href="#">
            📅 Calendário
        </a>

        <a href="#">
            📊 Estatísticas
        </a>

        <a href="#">
            ⚙ Configurações
        </a>

        <a href="{{ url_for('logout') }}">
            🚪 Sair
        </a>

    </nav>

</aside>
