{% extends "base.html" %}

{% block titulo %}

Editar tarefa | StudyHub

{% endblock %}

{% block conteudo %}

<section class="formulario">

    <h1>Editar tarefa</h1>

    <form method="POST">

        <input
            type="hidden"
            name="csrf_token"
            value="{{ csrf_token() }}"
        >

        <label>Descrição</label>

        <input type="text" name="descricao" value="{{ tarefa['descricao'] }}" required>

        <button type="submit">Salvar alterações</button>

    </form>

</section>

{% endblock %}