{% extends "base_publico.html" %}

{% block titulo %}

Cadastro | StudyHub

{% endblock %}

{% block css %}

<link rel="stylesheet" href="{{ url_for('static', filename='paginas/style_cadastrar.css') }}">

{% endblock %}

{% block conteudo %}

<header class="header-cadastro">

    <div class="header-conteudo">

        <a href="{{ url_for('pagina_inicial') }}" class="logo">
            <i class="bi bi-book-half"></i>

            <span>StudyHub</span>
        </a>

    </div>

</header>

<main class="cadastro">

    <section class="cadastro-card">

        <h1>Crie sua conta</h1>

        <p>Organize seus estudos gratuitamente e acompanhe seu progresso.</p>

        {% with mensagens = get_flashed_messages(with_categories=true) %}

            {% if mensagens %}

                {% for categoria, mensagem in mensagens %}

                    <p class="mensagem {{ categoria }}">{{ mensagem }}</p>

                {% endfor %}

            {% endif %}

        {% endwith %}

        <form action="{{ url_for('pagina_cadastro') }}" method="POST">

            <div class="campo">

                <label for="nome">Nome completo</label>

                <input type="text" id="nome" name="nome" placeholder="Digite seu nome" required>

            </div>

            <div class="campo">

                <label for="email">E-mail</label>

                <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>

            </div>

            <div class="campo">

                <label for="senha">Senha</label>

                <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>

            </div>

            <div class="campo">


                <label for="confirmar">Confirmar senha</label>

                <input type="password" id="confirmar" name="confirmar_senha" placeholder="Repita sua senha" required>

            </div>

            <button type="submit">Criar Conta</button>

        </form>

        <p class="login">
            Já possui uma conta?

            <a href="{{ url_for('pagina_login') }}">
                Entrar
            </a>
        </p>

    </section>

</main>

{% endblock %}