{% extends "base_publico.html" %}

{% block titulo %}

Login | StudyHub

{% endblock %}

{% block css %}

<link rel="stylesheet" href="{{ url_for('static', filename='paginas/style_login.css') }}">

{% endblock %}

{% block conteudo %}

<header class="header-login">

    <div class="header-conteudo">

        <a href="{{ url_for('pagina_inicial') }}" class="logo">

            <i class="bi bi-book-half"></i>

            <span>StudyHub</span>

        </a>

    </div>

</header>

<main class="login">

    <section class="login-card">

        <h1>Entrar</h1>

        <p>Acesse sua conta e continue seus estudos.</p>

        {% with mensagens = get_flashed_messages(with_categories=true) %}

        {% for categoria, mensagem in mensagens %}

        <p class="mensagem {{ categoria }}">{{ mensagem }}</p>

        {% endfor %}

        {% endwith %}

        <form method="POST">

            <div class="campo">

                <label>E-mail</label>

                <input type="email" name="email" required>

            </div>

            <div class="campo">

                <label>Senha</label>

                <input type="password" name="senha" required>

            </div>

            <button>Entrar</button>

        </form>

    </section>

</main>

{% endblock %}