<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>StudyHub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header class="container">

        <h1 class="item">StudyHub</h1>

        <nav>
            <a href="/login" class="botao">Entrar</a>
            <a href="/cadastro" class="botao">Criar Conta</a>
        </nav>
    </header>


    <main>
        <section id="hero">

            <h2>Organize seus estudos em um só lugar.</h2>

            <p>
                Planeje tarefas, acompanhe seu progresso
                e mantenha sua rotina de estudos organizada.
            </p>

            <a href="/cadastro">Começar agora</a>
        </section>

        <section id="sobre">

            <h2>O que é o StudyHub?</h2>

            <p>

                O StudyHub é uma plataforma desenvolvida para ajudar estudantes
                a organizarem suas tarefas, acompanhar seu desempenho e manter
                uma rotina de estudos eficiente.

            </p>
        </section>

        <section id="recursos">

            <h2>Recursos</h2>

            <article>

                <h3>Organização</h3>

                <p>
                    Gerencie suas tarefas facilmente.
                </p>

            </article>

            <article>

                <h3>Produtividade</h3>

                <p>
                    Acompanhe o progresso dos seus estudos.
                </p>

            </article>

            <article>

                <h3>Planejamento</h3>

                <p>
                    Mantenha sua rotina organizada.
                </p>

            </article>
        </section>

        <section id="cta">

            <h2>Pronto para começar?</h2>

            <p>

                Crie sua conta gratuitamente e organize seus estudos hoje mesmo.

            </p>

            <a href="/cadastro">Criar Conta</a>
        </section>
    </main>

    <footer>

        <p>
            © 2026 StudyHub
        </p>
    </footer>

</body>
</html>